<div id="footer" class="paper container-lg margin-bottom-none">
  <small>
    <a href="https://github.com/fpsvogel/storydroid">GitHub repo</a>. - Made by <a href="https://fpsvogel.com/">Felipe Vogel</a>. -
    Powered by <a href="https://rubyonrails.org/">Ruby on Rails</a>, <a href="https://www.getpapercss.com/">PaperCSS</a>, and <a href="https://openai.com">OpenAI</a>.
  </small>
</div>