<div class="paper container-lg margin-bottom-none">
  <small>
    Made by <a href="https://fpsvogel.com/">Felipe Vogel</a>. -
    Code licensed <a href="https://github.com/picocss/pico/blob/master/LICENSE.md">MIT</a>. -
    Powered by <a href="https://rubyonrails.org/">Ruby on Rails</a>, <a href="https://www.getpapercss.com/">PaperCSS</a>, and <a href="https://openai.com">OpenAI</a>.
  </small>
</div>