<title>Story Droid</title>
<meta name="description" content="Interactively write a story, or just start it off and see where it goes. Uses OpenAI's new GPT-3 API." />
<link rel="canonical" href="https://storydroid.herokuapp.com/" />

<meta property="og:title" content="Story Droid: Storytelling with AI" />
<meta property="og:description" content="Interactively write a story, or just start it off and see where it goes. Uses OpenAI's new GPT-3 API." />
<meta property="og:url" content="https://storydroid.herokuapp.com/" />
<meta property="og:image" content="https://storydroid.herokuapp.com/android-chrome-512x512.png" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary" />
<meta property="twitter:image" content="https://storydroid.herokuapp.com/android-chrome-512x512.png" />
<meta property="twitter:title" content="Story Droid: Storytelling with AI" />
<meta property="twitter:description" content="Interactively write a story, or just start it off and see where it goes. Uses OpenAI's new GPT-3 API." />
<meta name="twitter:creator" content="@fpsvogel" />