<h1>Story Droid</h1>

<%= form_with url: stories_create_path do |f| %>
  <%= f.label :story, "Start your story with one sentence or a few:" %>
  <%= f.text_area :story,
                  value: @story,
                  class: "margin-top-small",
                  rows: 6, style: "width:100%" %>

  <%= f.submit "Continue", class: "margin-top" %>
<% end %>
